In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./IPL Ball-by-Ball 2008-2020.csv')

In [142]:
data.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [140]:
data.head(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [139]:
data.tail(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [90]:
data.shape

(193468, 18)

In [91]:
data.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,1.934680e+05,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000
mean,7.567688e+05,1.482131,9.177027,3.615967,1.240231,0.066414,1.306645,0.000083,0.049078
std,3.060971e+05,0.499682,5.676848,1.807128,1.610867,0.339991,1.598802,0.009094,0.216031
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.012270e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.292970e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.082628e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.237181e+06,2.000000,19.000000,9.000000,6.000000,7.000000,7.000000,1.000000,1.000000

In [7]:
data['batsman_runs'].value_counts()

0    77637
1    71937
4    21908
2    12408
6     8902
3      616
5       60
Name: batsman_runs, dtype: int64

In [51]:
df = data.groupby('batsman').get_group('RR Pant')
df.head(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
127695,980945,2,5,6,RR Pant,JP Duminy,DS Kulkarni,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Gujarat Lions
127697,980945,2,6,2,RR Pant,JP Duminy,DJ Bravo,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Gujarat Lions
127698,980945,2,6,3,RR Pant,JP Duminy,DJ Bravo,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Gujarat Lions
127700,980945,2,6,5,RR Pant,JP Duminy,DJ Bravo,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Gujarat Lions
127702,980945,2,7,1,RR Pant,JP Duminy,SK Raina,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Gujarat Lions

In [114]:
df['batting_team'].value_counts().keys() # teams, RR Pant played for

Index(['Delhi Daredevils', 'Delhi Capitals'], dtype='object')

In [108]:
df['bowling_team'].value_counts().loc['Mumbai Indians']  # RR Pant has faced _ans_ balls from Mumbai Indians ballers

205

In [53]:
df['is_wicket'].value_counts()[1]  # total wicket of RR Pant in ipl career

59

In [138]:
df['ball'].count() # ball, RR Pant played for

1416

In [137]:
# total runs of RR Pant in ipl
a = df['batsman_runs'].value_counts().keys()
b = list(df['batsman_runs'].value_counts())
a, b = np.array(a), np.array(b)
(a * b).sum()

2079

In [64]:
df['batsman_runs'].value_counts()[6]  # no. of 6 in whole career of RR Pant

103

In [67]:
df['batsman_runs'].value_counts()[4]  # no. of 4 in whole career of RR Pant

184

In [82]:
dtf = df.groupby('bowling_team').get_group('Mumbai Indians')
dtf.head(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
133406,980993,2,10,1,RR Pant,JP Duminy,N Rana,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Mumbai Indians
133407,980993,2,10,2,RR Pant,JP Duminy,N Rana,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Mumbai Indians
133411,980993,2,10,6,RR Pant,JP Duminy,N Rana,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Mumbai Indians
133412,980993,2,11,1,RR Pant,JP Duminy,MJ McClenaghan,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Mumbai Indians
133413,980993,2,11,2,RR Pant,JP Duminy,MJ McClenaghan,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Mumbai Indians

In [133]:
# total runs of RR Pant aginst MI
a = dtf['batsman_runs'].value_counts().keys()
b = list(dtf['batsman_runs'].value_counts())
a, b = np.array(a), np.array(b)
(a * b).sum()

299

In [87]:
dtf['batsman_runs'].value_counts()[4]  # no. of 4's aginst MI

25

In [86]:
dtf['batsman_runs'].value_counts()[6]  # no. of 6's aginst MI

16

In [94]:
dtf['is_wicket'].value_counts()[1]  # wicket of RR Pant aginst MI

9

In [97]:
dtf['extra_runs'].value_counts()[1:]  # extra_runs of RR Pant aginst MI

1    5
4    1
Name: extra_runs, dtype: int64

In [101]:
dtf['bowler'].value_counts().keys()  # bowlers, RR Pant played aginst MI

Index(['JJ Bumrah', 'KH Pandya', 'J Yadav', 'NM Coulter-Nile', 'HH Pandya',
       'M Markande', 'BCJ Cutting', 'Mustafizur Rahman', 'A Dananjaya',
       'KA Pollard', 'MJ McClenaghan', 'Rasikh Salam', 'TA Boult',
       'Harbhajan Singh', 'RD Chahar', 'N Rana', 'SL Malinga'],
      dtype='object')

In [116]:
dtf['ball'].count() # ball, RR Pant played for aginst MI

205